@import './../../styles/variables.scss';

.introContainer {
  position: relative;
  padding: 200px 120px;

  .content {
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
  }
  .imgContainer {
    position: absolute;
    right: 500px;

    .person {
      position: absolute;
      width: 500px;
    }
    .bulb {
      position: absolute;
      width: 120px;
      top: 60px;
      left: -40px;
    }
    .computer {
      position: absolute;
      width: 110px;
      top: 340px;
      left: 40px;
    }
    .pen {
      position: absolute;
      width: 110px;
      top: 220px;
      left: 380px;
    }
    img {
      width: 100%;
    }
  }
  .row {
    overflow: hidden;
  }
  .title {
    font-size: 6rem;
    line-height: 6rem;
    margin: 20px 0px;
    font-weight: 800;
    position: relative;
  }
  .design {
    &::after {
      content: 'UX/UI';
      position: absolute;
      line-height: 1rem;
      top: -1rem;
      left: 21rem;
      width: 75px;
      height: 75px;
      border-radius: 60px;
      border: solid 2px $font;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
    }
  }
  .programming {
    &::after {
      content: 'Front end';
      text-align: center;
      position: absolute;
      line-height: 1rem;
      top: -1rem;
      left: 42rem;
      width: 75px;
      height: 75px;
      border-radius: 60px;
      border: solid 2px $font;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
    }
  }
}

@media (max-width: 1119px) {
  .introContainer {
    padding: 200px 40px;
    .imgContainer {
      right: 500px;
      top: -120px;
      .person {
        width: 400px;
      }
      .bulb {
        width: 80px;
      }
      .computer {
        width: 80px;
      }
      .pen {
        width: 80px;
        left: 320px;
      }
    }
    .title {
      font-size: 4rem;
      line-height: 4rem;
    }

    .design {
      &::after {
        top: -1rem;
        left: 16rem;
        width: 65px;
        height: 65px;
        border-radius: 65px;
        font-size: 1rem;
      }
    }
    .programming {
      &::after {
        line-height: 1rem;
        top: -1rem;
        left: 28rem;
        width: 65px;
        height: 65px;

        font-size: 1rem;
      }
    }
  }
}
@media (max-width: 740px) {
  .introContainer {
    padding: 260px 40px;
    .subtitle {
      width: 140px;
    }
    .imgContainer {
      right: 240px;
      top: -160px;
      .person {
        width: 260px;
      }
      .bulb {
        width: 60px;
        left: -30px;
        top: 30px;
      }
      .computer {
        width: 60px;
      }
      .pen {
        width: 60px;
        left: 200px;
      }
    }
    .title {
      font-size: 2rem;
      line-height: 3rem;
      margin: 6px 0px;
    }

    .design {
      &::after {
        top: -0.2rem;
        left: 9rem;
        width: 40px;
        height: 40px;

        font-size: 0.6rem;
      }
    }
    .programming {
      &::after {
        line-height: 0.6rem;
        top: -0.3rem;
        left: 13.9rem;
        width: 40px;
        height: 40px;

        font-size: 0.6rem;
      }
    }
  }
}
